<nav class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom mx-5">
    <div class="col-md-3 mb-2 mb-md-0">
        <a routerLink="/" class="d-inline-flex link-body-emphasis text-decoration-none">
            {{ title }}
        </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="/" class="nav-link px-2" mat-button color="primary" [attr.disabled]="currentRoute === '/' ? true : null" ><i class="bi bi-house-fill"></i> Accueil</a></li>
        <li><a routerLink="/catalog" class="nav-link px-2" mat-button color="primary" [attr.disabled]="currentRoute === '/catalog' ? true : null"><i class="bi bi-card-list"></i> Liste de CDs</a></li>
        <li><a routerLink="/add" class="nav-link px-2" mat-button color="primary" [attr.disabled]="currentRoute === '/add' ? true : null"><i class="bi bi-plus-circle-fill"></i> Ajouter un CD</a></li>
    </ul>

    <div class="col-md-3 text-end">
        <button type="button" mat-stroked-button><i class="bi bi-patch-question"></i> A propos</button>
    </div>
</nav>