<div class="cd-card" [ngClass]="{'cdadded': leCd.onsale === true}">
    <h3>{{leCd.title | uppercase}}</h3>
    <p>Sortie le : {{leCd.dateDeSortie | date: 'dd/MM/yyyy'}}</p>
    <p>Auteur / groupe : {{leCd.author}}</p>
    <p>Prix : {{leCd.price | currency: 'EUR'}}</p>
    <p>
        En stock : <span [ngStyle]="{ color: 'rgb(0, ' + leCd.quantite + ', 0)'}"> {{leCd.quantite}}
        </span>
        <button (click)="onAddCD()">Ajouter un CD</button>
    </p>
    <p *ngIf="idCd === undefined">
        <a routerLink="/cd/{{leCd.id}}" class="button"><button>Voir le détail</button></a>
    </p>
    <img [src]="leCd.thumbnail" [alt]="leCd.title" />
</div>
